**Reason to use Naive Bayes üòé**

<img src="https://drive.google.com/uc?export=view&id=1_MYE0T7aO9mPj8ut_-SbLtnQ-y1yhRyx" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />


Feel free to use another one too üëç

In [ ]:
#pip install openpyxl
#pip install pandas
#pip install numpy
#pip install math

Import Library

In [ ]:
import pandas as pd
import math

Read The Dataset
+ [Train Data](https://drive.google.com/uc?export=download&id=1jEWFx2JlmoknRNMXT1z16P_nC14C4_8s)
+ [Test Data](https://drive.google.com/uc?export=download&id=1kGmqelSzZm-rDnzYrCUc5xjdo0ANRaJl)
+ [Truth Data](https://drive.google.com/uc?export=download&id=1DGBMoe0MYCuSwubDgFPbS8B3qo_XFM6W)

In [ ]:
def read_excel(path, sheet_target): # read excel data
    data = pd.read_excel(path, sheet_name=sheet_target)
    return pd.DataFrame(data)

In [ ]:
dataTrain = read_excel("https://drive.google.com/uc?export=download&id=1jEWFx2JlmoknRNMXT1z16P_nC14C4_8s",sheet_target="train")
dataTest = read_excel("https://drive.google.com/uc?export=download&id=1kGmqelSzZm-rDnzYrCUc5xjdo0ANRaJl",sheet_target="Sheet1")
dataTruth = read_excel("https://drive.google.com/uc?export=download&id=1DGBMoe0MYCuSwubDgFPbS8B3qo_XFM6W",sheet_target="Sheet1")

Show dataset

In [ ]:
dataTrain

     Unnamed: 0   id  x1  x2  x3  y
0             0    1  93  71  48  1
1             1    2  35  67  87  1
2             2    3  66  97  27  0
3             3    4  43  35  24  1
4             4    5  15  85  86  0
..          ...  ...  ..  ..  .. ..
291         291  292  27   7  22  1
292         292  293  99  82  70  1
293         293  294  52  55  80  0
294         294  295   9  25  97  0
295         295  296  38  69  53  1

[296 rows x 6 columns]

In [ ]:
dataTest

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  ?
1           1  298  31  38  68  ?
2           2  299  64  91  73  ?
3           3  300  33  35  26  ?
4           4  301  11  82  30  ?
5           5  302  88  26  36  ?
6           6  303  22  46  46  ?
7           7  304  14  54  12  ?
8           8  305  34  54  67  ?
9           9  306  98  96  60  ?

In [ ]:
dataTruth

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  1
1           1  298  31  38  68  1
2           2  299  64  91  73  1
3           3  300  33  35  26  0
4           4  301  11  82  30  0
5           5  302  88  26  36  1
6           6  303  22  46  46  1
7           7  304  14  54  12  1
8           8  305  34  54  67  0
9           9  306  98  96  60  0

Data Exploration

In [ ]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  296 non-null    int64
 1   id          296 non-null    int64
 2   x1          296 non-null    int64
 3   x2          296 non-null    int64
 4   x3          296 non-null    int64
 5   y           296 non-null    int64
dtypes: int64(6)
memory usage: 14.0 KB

In [ ]:
dataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     object
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes

In [ ]:
dataTruth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes

**Data Preprocessing**

Every Dataset have unnecesary column we should drop it

In [ ]:
dataTrain = dataTrain.drop(["Unnamed: 0"],axis=1)
dataTest = dataTest.drop(["Unnamed: 0"],axis=1)
dataTruth = dataTruth.drop(["Unnamed: 0"],axis=1)

In [ ]:
dataTest.head(5)

    id  x1  x2  x3  y
0  297  82  73  78  ?
1  298  31  38  68  ?
2  299  64  91  73  ?
3  300  33  35  26  ?
4  301  11  82  30  ?

In [ ]:
dataTruth.head(5)

    id  x1  x2  x3  y
0  297  82  73  78  1
1  298  31  38  68  1
2  299  64  91  73  1
3  300  33  35  26  0
4  301  11  82  30  0

Min-Max Normalization

<img src="https://drive.google.com/uc?export=view&id=1GYrk1-5V-zhQjU3qYT_DWoFwzfBi6wqM" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [ ]:
def normalizationMinMax(allData, columnTarget):
    for column in columnTarget: 
        allData[column] = (allData[column] - allData[column].min()) / (allData[column].max() - allData[column].min())
    
    return  allData

In [ ]:
testStartID = dataTrain.index.stop # Since we will combine them to do normalization
allData = pd.concat([dataTrain, dataTest]) # Combine them
allData = normalizationMinMax(allData, ['x1','x2','x3'])
normTrain, normTest = allData.iloc[:testStartID].drop('id', axis=1), allData.iloc[testStartID:].drop('id', axis=1)

In [ ]:
normTrain

       x1    x2    x3  y
0    0.93  0.71  0.48  1
1    0.35  0.67  0.87  1
2    0.66  0.97  0.27  0
3    0.43  0.35  0.24  1
4    0.15  0.85  0.86  0
..    ...   ...   ... ..
291  0.27  0.07  0.22  1
292  0.99  0.82  0.70  1
293  0.52  0.55  0.80  0
294  0.09  0.25  0.97  0
295  0.38  0.69  0.53  1

[296 rows x 4 columns]

In [ ]:
normTest

     x1    x2    x3  y
0  0.82  0.73  0.78  ?
1  0.31  0.38  0.68  ?
2  0.64  0.91  0.73  ?
3  0.33  0.35  0.26  ?
4  0.11  0.82  0.30  ?
5  0.88  0.26  0.36  ?
6  0.22  0.46  0.46  ?
7  0.14  0.54  0.12  ?
8  0.34  0.54  0.67  ?
9  0.98  0.96  0.60  ?

Mean Normalization/Standardization

<img src="https://drive.google.com/uc?export=view&id=1KM75uePbNN9WqJ9dWpthp0DCZnHb6cvQ" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [ ]:
def standardization(allData, columnTarget):
    for column in columnTarget:
        allData[column] = (allData[column] - allData[column].mean()) / (allData[column].std())
   
    return allData

In [ ]:
testStartID = dataTrain.index.stop # Since we will combine them to do normalization
allData = pd.concat([dataTrain, dataTest]) # Combine them
allData = standardization(allData, ['x1','x2','x3'])
stdTrain, stdTest = allData.iloc[:testStartID].drop('id', axis=1), allData.iloc[testStartID:].drop('id', axis=1)

In [ ]:
stdTrain

           x1        x2        x3  y
0    1.462804  0.628762  0.036067  1
1   -0.466441  0.495728  1.368636  1
2    0.564707  1.493487 -0.681470  0
3   -0.200338 -0.568549 -0.783976  1
4   -1.131697  1.094383  1.334467  0
..        ...       ...       ... ..
291 -0.732543 -1.499791 -0.852313  1
292  1.662381  0.994607  0.787772  1
293  0.099028  0.096624  1.129457  0
294 -1.331274 -0.901135  1.710320  0
295 -0.366652  0.562245  0.206909  1

[296 rows x 4 columns]

In [ ]:
stdTest

         x1        x2        x3  y
0  1.096913  0.695280  1.061120  ?
1 -0.599492 -0.468773  0.719435  ?
2  0.498182  1.293935  0.890277  ?
3 -0.532966 -0.568549 -0.715639  ?
4 -1.264749  0.994607 -0.578965  ?
5  1.296490 -0.867877 -0.373955  ?
6 -0.898857 -0.202704 -0.032270  ?
7 -1.164960  0.063365 -1.193997  ?
8 -0.499703  0.063365  0.685267  ?
9  1.629118  1.460228  0.446088  ?

*If you look closely into the code for doing Min-Max and Mean Normalization, we need to combine them first. Why? Because we want the train and test data to have the same data distribution*

**Learning Phase**

*We will be using original data in this case (not doing any normalization)*

<img src="https://drive.google.com/uc?export=view&id=
1a5rqj0tUAZ7CY64zMkszJgdXeyFN83eB" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

Splitting data based on their truth value

In [ ]:
def splitTruth(dataTrain, columnTarget):
    truthData = []
    for truth in dataTrain[columnTarget].unique():
        truthData.append(dataTrain.where(dataTrain[columnTarget] == truth).dropna())
    return truthData

yesData, noData = splitTruth(dataTrain, columnTarget='y')

Show 'yes' (y = 1) data

In [ ]:
yesData

        id    x1    x2    x3    y
0      1.0  93.0  71.0  48.0  1.0
1      2.0  35.0  67.0  87.0  1.0
3      4.0  43.0  35.0  24.0  1.0
6      7.0  36.0  17.0  11.0  1.0
10    11.0  69.0  29.0   9.0  1.0
..     ...   ...   ...   ...  ...
284  285.0  96.0  78.0  24.0  1.0
289  290.0  10.0  22.0  87.0  1.0
291  292.0  27.0   7.0  22.0  1.0
292  293.0  99.0  82.0  70.0  1.0
295  296.0  38.0  69.0  53.0  1.0

[130 rows x 5 columns]

Show 'no' (y = 0) data

In [ ]:
noData

        id    x1     x2    x3    y
2      3.0  66.0   97.0  27.0  0.0
4      5.0  15.0   85.0  86.0  0.0
5      6.0  63.0    6.0  39.0  0.0
7      8.0  98.0   50.0  15.0  0.0
8      9.0   3.0  100.0  98.0  0.0
..     ...   ...    ...   ...  ...
287  288.0   1.0   64.0   8.0  0.0
288  289.0  12.0   50.0  48.0  0.0
290  291.0   5.0   74.0  62.0  0.0
293  294.0  52.0   55.0  80.0  0.0
294  295.0   9.0   25.0  97.0  0.0

[166 rows x 5 columns]

Find data mean

In [ ]:
def find_mean(yesData, noData, columnTarget):
    yesMean = dict()
    noMean = dict()
    for column in columnTarget:
        yesMean[column] = yesData[column].mean()
        noMean[column] = noData[column].mean()
    return yesMean, noMean

yesMean, noMean = find_mean(yesData, noData, columnTarget=['x1','x2','x3'])

In [ ]:
print(f"Mean Result\n1 : {yesMean}\n0 : {noMean}")

Mean Result
1 : {'x1': 49.36923076923077, 'x2': 52.54615384615385, 'x3': 44.65384615384615}
0 : {'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

Find data standard deviation

In [ ]:
def find_std(yesData, noData, columnTarget):
    yesStd = dict()
    noStd = dict()
    for column in columnTarget:
        yesStd[column] = yesData[column].std()
        noStd[column] = noData[column].std()

    return yesStd, noStd

yesStd, noStd = find_std(yesData, noData, columnTarget=['x1','x2','x3'])

In [ ]:
print(f"Standard Deviation Result\n1 : {yesStd}\n0 : {noStd}")

Standard Deviation Result
1 : {'x1': 30.66147709583266, 'x2': 30.672592502572407, 'x3': 28.23811035755217}
0 : {'x1': 29.636921803562995, 'x2': 29.974588848453084, 'x3': 30.40439381402378}

Calculate Probability

<img src="https://drive.google.com/uc?export=view&id=
1a5rqj0tUAZ7CY64zMkszJgdXeyFN83eB" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [ ]:
def calc_probality(mean, std, x):
    exponent = math.exp(-((x-mean)**2 / (2 * std**2)))
    return (1/(math.sqrt(2*math.pi)*std)) * exponent

Confussion Matrix

In [ ]:
def confussionMatrix(result):
    TP = 0
    FP = 0
    TN = 0
    FN = 0

    x = True

    for i in result:
        if(i['Ground Truth'] == '?'):
            x = False
            break
        elif((i['Prediction Result'] == 1)and(i['Prediction Result'] == i['Ground Truth'])):
            TP += 1
        elif((i['Prediction Result'] == 0)and(i['Prediction Result'] == i['Ground Truth'])):
            TN += 1
        elif((i['Prediction Result'] == 1)and(i['Prediction Result'] != i['Ground Truth'])):
            FP += 1
        elif((i['Prediction Result'] == 0)and(i['Prediction Result'] != i['Ground Truth'])):
            FN += 1
        
    if(x):
        print(f"\nTP : {TP} FN : {FP}\nTN : {TN} FN : {FN}")
        print(f"Accuracy : {((TP+TN)/(TP+TN+FP+FN))*100}%")
        print(f"Precission : {((TP)/(TP+FP))*100}%")
        print(f"Recall : {((TP)/(TP+FN))*100}%")
    else:
        print("\nCannot process the confussion matrix with unknown Ground Truth!")

**Prediction**

*if you want to use more than one column for the prediction, take a look at this slide for reference*

<img src="https://drive.google.com/uc?export=view&id=
1jaKm39Ve3P-TljB6xg_3N_nYtWuYv5z4" style="width: 650px; max-width: 100%; height: auto" title="Click to enlarge picture" />

In [ ]:
def doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget, truthColumn):
    result = []
    for i in range(len(target)):
        yesResult = 1
        noResult = 1
        for column in columnTarget:
            yesResult *= calc_probality(yesMean[column], yesStd[column], target[column].iloc[i])
            noResult *= calc_probality(noMean[column], noStd[column], target[column].iloc[i])
        result.append({'ID' : target['id'].iloc[i], 'Yes Probability' : "{}".format(yesResult), 'No Probability' : "{}".format(noResult),
                        'Prediction Result' : int(yesResult > noResult), 
                       'Ground Truth' : target[truthColumn].iloc[i]})

    return result

Result

In [ ]:
result = []
target = dataTest # The data you want to predict its truth value ('y' column)

result = doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget=['x1','x2','x3'], truthColumn='y')

for p in result:
    print(p)

confussionMatrix(result)

{'ID': 297, 'Yes Probability': '5.410535440623304e-07', 'No Probability': '6.05380751888213e-07', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.2686694753559456e-06', 'No Probability': '1.4496949713556619e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '5.874877627717968e-07', 'No Probability': '6.211806302152328e-07', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.4152815715008876e-06', 'No Probability': '1.3345162711554498e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.022775109255009e-07', 'No Probability': '5.110315422135354e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '7.092693679462497e-07', 'No Probability': '6.311279739428465e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.5672851957113277e-06', 'No Probability': '1.5306959624281995e-06', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.291371837770748e-07', 'No Probability': '5.69134388093406e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.5399944039972657e-06', 'No Probability': '1.7192663995980988e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '2.1495449796482218e-07', 'No Probability': '1.8191907580346846e-07', 'Prediction Result': 1, 'Ground Truth': '?'}

Cannot process the confussion matrix with unknown Ground Truth!

*This code only provide a simplify version of Naive Bayes implementation. So, feel free to modify or fix it*

**Some Tips**

Take a closer look at the y column (the truth value from the train data). How many 0 and 1 in the data? If the difference is too big, what should you do?

Learn more from here :
- https://lamduy-nguyen.medium.com/skewness-definition-problem-and-reducing-methods-a5ee25a8b6ca
- https://www.analyticsvidhya.com/blog/2020/07/what-is-skewness-statistics/
- https://towardsdatascience.com/avoid-mistakes-in-machine-learning-models-with-skewed-count-data-e3512b94d745



Code References :
- https://medium.com/analytics-vidhya/how-to-improve-naive-bayes-9fa698e14cba
- https://www.kaggle.com/code/akshaysharma001/naive-bayes-with-hyperpameter-tuning
- https://www.analyticsvidhya.com/blog/2021/01/gaussian-naive-bayes-with-hyperpameter-tuning/
- Lecture Slides

**Extra**

- Folding

Fold your dataset to have training and validation dataset

In [ ]:
def folding(dataset, trainingPercentage, location, shuffle:bool):
    lengthTraining = int(len(dataset)*trainingPercentage/100)
    # randomize the the data position
    if(shuffle):
        dataset = dataset.sample(frac=1).reset_index(drop=True)
    train = []
    validation = []
    if(location == 'left'):
        train, validation = dataset.iloc[:lengthTraining].reset_index(drop=True), dataset.iloc[lengthTraining:].reset_index(drop=True)
    elif(location == 'right'):
        validation,train = dataset.iloc[:abs(lengthTraining-len(dataset))].reset_index(drop=True), dataset.iloc[abs(lengthTraining-len(dataset)):].reset_index(drop=True)
    elif(location == 'middle'):
        train = dataset.iloc[int(abs(lengthTraining-len(dataset))/2):len(dataset)-int(abs(lengthTraining-len(dataset))/2)]
        validation = pd.concat([dataset.iloc[:int(abs(lengthTraining-len(dataset))/2)],dataset.iloc[len(dataset)-int(abs(lengthTraining-len(dataset))/2):]])
    return train, validation

In [ ]:
trainData, validationData = folding(dataTrain.copy(), 70, 'left', shuffle=True)

In [ ]:
trainData

      id  x1  x2  x3  y
0    271  16  32   7  1
1    207  78  48  57  0
2    114  70  83  57  1
3    154  30  17  18  1
4     52  47  80  10  1
..   ...  ..  ..  .. ..
202   58  35  47  91  1
203  285  96  78  24  1
204   24   6  97  44  0
205  195  12  48  48  1
206  144   7   3  36  1

[207 rows x 5 columns]

In [ ]:
validationData

     id  x1  x2  x3  y
0    91   8  87  18  1
1     2  35  67  87  1
2   272  42  34  33  1
3    51  76  17  24  0
4   268  80  75  18  0
..  ...  ..  ..  .. ..
84  174  24  38  75  0
85  135  51  83  35  0
86   55  68  46  16  1
87  189  40  94  66  1
88   75  81  32  74  0

[89 rows x 5 columns]

Split the data into yes and no

In [ ]:
# Split yes and no
yesDataTrain, noDataTrain = splitTruth(trainData, columnTarget='y')

In [ ]:
yesDataTrain

        id    x1    x2    x3    y
0    271.0  16.0  32.0   7.0  1.0
2    114.0  70.0  83.0  57.0  1.0
3    154.0  30.0  17.0  18.0  1.0
4     52.0  47.0  80.0  10.0  1.0
5    209.0   3.0  43.0  95.0  1.0
..     ...   ...   ...   ...  ...
200   29.0  33.0  23.0  38.0  1.0
202   58.0  35.0  47.0  91.0  1.0
203  285.0  96.0  78.0  24.0  1.0
205  195.0  12.0  48.0  48.0  1.0
206  144.0   7.0   3.0  36.0  1.0

[89 rows x 5 columns]

In [ ]:
noDataTrain

        id    x1    x2    x3    y
1    207.0  78.0  48.0  57.0  0.0
6    192.0  10.0  39.0  40.0  0.0
10   277.0  14.0  21.0  21.0  0.0
12   158.0  34.0  26.0   2.0  0.0
14   136.0  42.0  91.0  89.0  0.0
..     ...   ...   ...   ...  ...
197  241.0  79.0  93.0  63.0  0.0
198   83.0  82.0  58.0  26.0  0.0
199  132.0  68.0  10.0  88.0  0.0
201   92.0  40.0  53.0  54.0  0.0
204   24.0   6.0  97.0  44.0  0.0

[118 rows x 5 columns]

Do prediction again after you made some tweaks

In [ ]:
# Split yes and no
yesDataTrain, noDataTrain = splitTruth(trainData, columnTarget='y')
# Find mean
yesMeanTrain, noMeanTrain = find_mean(yesDataTrain, noDataTrain, columnTarget=['x1','x2','x3'])
# Find standard deviation
yesStdTrain, noStdTrain = find_std(yesDataTrain, noDataTrain, ['x1','x2','x3'])

result = []
target = validationData # your ground truth data

result = doPrediction(yesMeanTrain, yesStdTrain, noMeanTrain, noStdTrain, target, columnTarget=['x1','x2','x3'], truthColumn='y')

for p in result:
    print(p)

confussionMatrix(result)

{'ID': 91, 'Yes Probability': '3.4972355026351343e-07', 'No Probability': '2.818215165237482e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 2, 'Yes Probability': '7.527666488859789e-07', 'No Probability': '8.406856566250977e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 272, 'Yes Probability': '1.6297197997009172e-06', 'No Probability': '1.707555764802374e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 51, 'Yes Probability': '5.212348256527872e-07', 'No Probability': '5.643529365691182e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 268, 'Yes Probability': '7.374544939080686e-07', 'No Probability': '5.623623565297032e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 139, 'Yes Probability': '1.7600244577948326e-06', 'No Probability': '1.6658417109252076e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 125, 'Yes Probability': '4.5556705567243735e-08', 'No Probability': '8.020808917189396e-08', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 275, 'Yes Probability': '7.953323962274957e-07', 'No Probability': '7.128309760854409e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 181, 'Yes Probability': '4.2127412069268367e-07', 'No Probability': '3.0155196863801866e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 261, 'Yes Probability': '7.031960957444985e-07', 'No Probability': '5.138596132686858e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 23, 'Yes Probability': '3.6238399965841083e-07', 'No Probability': '4.3956720940318313e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 171, 'Yes Probability': '1.2930487171844354e-07', 'No Probability': '1.3619268549272508e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 84, 'Yes Probability': '2.382329517119455e-07', 'No Probability': '3.031664974690699e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 179, 'Yes Probability': '9.56506365681731e-08', 'No Probability': '1.6610057094539644e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 124, 'Yes Probability': '5.738815707943875e-07', 'No Probability': '5.24451308769198e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 123, 'Yes Probability': '2.0861619198419068e-06', 'No Probability': '2.091252534601038e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 155, 'Yes Probability': '3.839141237173767e-07', 'No Probability': '3.1866598342672103e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 101, 'Yes Probability': '6.183970638311229e-07', 'No Probability': '6.02034602509821e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 157, 'Yes Probability': '2.267830853551768e-07', 'No Probability': '2.408803097129231e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 246, 'Yes Probability': '5.357977268582677e-07', 'No Probability': '6.064915548875601e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 185, 'Yes Probability': '4.64092533900246e-07', 'No Probability': '3.3319180436274145e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 126, 'Yes Probability': '3.7118998332995107e-07', 'No Probability': '3.053391751031849e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 32, 'Yes Probability': '1.005865543173125e-06', 'No Probability': '9.897406754147205e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 221, 'Yes Probability': '6.161618248675311e-07', 'No Probability': '4.952684846075005e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 18, 'Yes Probability': '9.11940708562245e-07', 'No Probability': '9.425615084317831e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 28, 'Yes Probability': '7.813458547815153e-07', 'No Probability': '1.0111473051773654e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 252, 'Yes Probability': '1.65165249374532e-06', 'No Probability': '1.4613900599955089e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 50, 'Yes Probability': '7.416252113635118e-07', 'No Probability': '7.703716567823187e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 110, 'Yes Probability': '8.378633283419827e-07', 'No Probability': '1.0060155425516455e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 64, 'Yes Probability': '1.8297162887632275e-06', 'No Probability': '1.5111591453765953e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 109, 'Yes Probability': '2.3242994011741027e-07', 'No Probability': '2.680943062951335e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 1, 'Yes Probability': '7.533748472775034e-07', 'No Probability': '5.624783433523921e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 184, 'Yes Probability': '2.4864843856276963e-07', 'No Probability': '3.299965072675895e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 35, 'Yes Probability': '6.519631221710633e-07', 'No Probability': '7.887209209753146e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 218, 'Yes Probability': '9.060054095442412e-07', 'No Probability': '7.628455287488552e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 111, 'Yes Probability': '3.197090670180346e-07', 'No Probability': '2.611372196192857e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 266, 'Yes Probability': '1.115011010888012e-06', 'No Probability': '8.75580264432119e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 122, 'Yes Probability': '1.0196973588091408e-06', 'No Probability': '9.935813353101795e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 182, 'Yes Probability': '1.484980432424346e-07', 'No Probability': '1.9294197193249599e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 4, 'Yes Probability': '1.3948190791306538e-06', 'No Probability': '1.4492149577251722e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 200, 'Yes Probability': '3.0178397266848973e-07', 'No Probability': '3.825413680266141e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 274, 'Yes Probability': '1.3172753357986928e-06', 'No Probability': '1.0912540968483128e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 12, 'Yes Probability': '6.983151219421598e-07', 'No Probability': '5.546481115066401e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 59, 'Yes Probability': '2.7369315041169444e-07', 'No Probability': '2.6344375680889333e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 201, 'Yes Probability': '3.7986843638159953e-07', 'No Probability': '2.676025424775061e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 177, 'Yes Probability': '2.941318305711319e-07', 'No Probability': '2.5647800038435907e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 131, 'Yes Probability': '8.579580598963457e-08', 'No Probability': '1.079350509230959e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 97, 'Yes Probability': '6.051775520513003e-07', 'No Probability': '6.848765126032533e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 183, 'Yes Probability': '2.0527713874559598e-07', 'No Probability': '3.086210332522955e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 66, 'Yes Probability': '4.6268023680002497e-07', 'No Probability': '3.611604994305001e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 78, 'Yes Probability': '3.1636513904978094e-07', 'No Probability': '4.1964348014941835e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 16, 'Yes Probability': '6.2181141480216e-07', 'No Probability': '7.076481503693849e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 119, 'Yes Probability': '1.545443904542435e-07', 'No Probability': '1.0158323268025033e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 147, 'Yes Probability': '2.5138677616636276e-07', 'No Probability': '1.9583515687600713e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 5, 'Yes Probability': '3.0871091846373816e-07', 'No Probability': '3.171653234724244e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 204, 'Yes Probability': '6.561736371371687e-07', 'No Probability': '5.165792268185072e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 289, 'Yes Probability': '1.134850580676595e-06', 'No Probability': '1.1123489806957915e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 229, 'Yes Probability': '5.431365864352379e-07', 'No Probability': '3.779305900985532e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 161, 'Yes Probability': '3.3690647891511116e-07', 'No Probability': '2.2955826185657974e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 291, 'Yes Probability': '6.059587120871129e-07', 'No Probability': '5.510578346995947e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 279, 'Yes Probability': '1.6759625565775446e-06', 'No Probability': '1.8267471088744495e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 248, 'Yes Probability': '3.157174963887357e-07', 'No Probability': '3.0199503192992937e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 239, 'Yes Probability': '5.087630538442198e-07', 'No Probability': '6.141744834967584e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 6, 'Yes Probability': '5.125974502842822e-07', 'No Probability': '6.360125758465374e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 40, 'Yes Probability': '1.4999321347994606e-07', 'No Probability': '2.5973217518319635e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 108, 'Yes Probability': '8.481622294701922e-07', 'No Probability': '9.113579908211946e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 112, 'Yes Probability': '1.0566771887532486e-06', 'No Probability': '8.168994640177944e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 115, 'Yes Probability': '5.978560638104272e-07', 'No Probability': '8.052660876095468e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 160, 'Yes Probability': '6.601170250173792e-07', 'No Probability': '8.264224726376212e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 233, 'Yes Probability': '5.163172008670282e-07', 'No Probability': '5.729537246100275e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 251, 'Yes Probability': '2.166484590550397e-07', 'No Probability': '3.522223421083192e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 13, 'Yes Probability': '3.840659530044711e-07', 'No Probability': '5.03849456461962e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 296, 'Yes Probability': '1.9974944443837835e-06', 'No Probability': '1.8044106031491062e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 258, 'Yes Probability': '1.553189955684645e-06', 'No Probability': '1.5833155093585626e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 196, 'Yes Probability': '4.344370175356732e-07', 'No Probability': '3.024580974119507e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 150, 'Yes Probability': '9.56753462368955e-07', 'No Probability': '8.969772111260407e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 282, 'Yes Probability': '7.478733842546327e-08', 'No Probability': '1.0629205515233744e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 90, 'Yes Probability': '1.801366440028958e-07', 'No Probability': '2.7029426426649915e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 72, 'Yes Probability': '5.437052843818324e-07', 'No Probability': '5.943230831394296e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 222, 'Yes Probability': '5.881295169631523e-07', 'No Probability': '5.927126737234721e-07', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 247, 'Yes Probability': '1.0238139524826392e-06', 'No Probability': '9.259506469431236e-07', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 250, 'Yes Probability': '3.9242178065781057e-07', 'No Probability': '4.3965357669092133e-07', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 74, 'Yes Probability': '1.6649816902304978e-06', 'No Probability': '1.8242766577144494e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 188, 'Yes Probability': '6.829727129210157e-07', 'No Probability': '5.036045973891443e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 174, 'Yes Probability': '8.804906513713232e-07', 'No Probability': '1.0591757679879121e-06', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 135, 'Yes Probability': '1.4702366645146891e-06', 'No Probability': '1.1804563670828656e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 55, 'Yes Probability': '1.1132365545213376e-06', 'No Probability': '1.0302180001430147e-06', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 189, 'Yes Probability': '7.902062214183022e-07', 'No Probability': '6.846905811381086e-07', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 75, 'Yes Probability': '6.416430639640391e-07', 'No Probability': '7.094307469204635e-07', 'Prediction Result': 0, 'Ground Truth': 0}

TP : 19 FN : 24
TN : 24 FN : 22
Accuracy : 48.31460674157304%
Precission : 44.18604651162791%
Recall : 46.34146341463415%

Predict again the dataTest

In [ ]:
result = []
target = dataTest # your ground truth data

result = doPrediction(yesMeanTrain, yesStdTrain, noMeanTrain, noStdTrain, target, columnTarget=['x1','x2','x3'], truthColumn='y')

for p in result:
    print(p)

confussionMatrix(result)

{'ID': 297, 'Yes Probability': '6.260773013155241e-07', 'No Probability': '5.649651644136249e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.2792373222141245e-06', 'No Probability': '1.4725186481558113e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '6.860468325361199e-07', 'No Probability': '5.957765875585181e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.3008968038006054e-06', 'No Probability': '1.3636696750041367e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.417810227789802e-07', 'No Probability': '5.25073689501309e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '6.109623342268334e-07', 'No Probability': '5.909226834546171e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.5504374429847583e-06', 'No Probability': '1.555967764712807e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.290357433003992e-07', 'No Probability': '5.981937483311053e-07', 'Prediction Result': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.6559481720301657e-06', 'No Probability': '1.722648994522945e-06', 'Prediction Result': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '2.357051045631955e-07', 'No Probability': '1.6299587238226303e-07', 'Prediction Result': 1, 'Ground Truth': '?'}

Cannot process the confussion matrix with unknown Ground Truth!

Exercise

In [ ]:
exerciseData = pd.read_csv('https://drive.google.com/uc?id=1NiTUyE7FU0gCZdZUEcpmexJDnf61BoEE')

Data Exploration

In [ ]:
#info data
exerciseData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   glucose        995 non-null    int64
 1   bloodpressure  995 non-null    int64
 2   diabetes       995 non-null    int64
dtypes: int64(3)
memory usage: 23.4 KB

In [ ]:
#deskripsi data
exerciseData

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [ ]:
#menampilkan 10 data pertama
exerciseData.head(10)

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1
5       45             82         0
6       40             85         0
7       30             63         1
8       65             65         1
9       45             82         0

I want to add id column

In [ ]:
#menambahkan kolom id
id = [i for i in range(len(exerciseData))]
exerciseData['id'] = id

I choose standardization method for data scaling

In [ ]:
#standardization for data scaling
testStartID = exerciseData.index.stop 
allData = pd.concat([exerciseData]) 
allData = standardization(allData, ['glucose', 'bloodpressure', 'id'])
stdExercise = allData.iloc[:testStartID].drop('id', axis=1)

stdExercise

      glucose  bloodpressure  diabetes
0   -0.642041       0.622585         0
1   -0.642041       1.372034         0
2    0.103386      -1.732823         1
3    0.103386       0.087265         0
4   -0.642041      -0.662183         1
..        ...            ...       ...
990  0.103386       0.836714         0
991 -0.642041       0.408457         0
992 -0.642041       0.408457         0
993 -0.642041      -2.054016         1
994  0.103386       0.301393         0

[995 rows x 3 columns]

Make training and test data

In [ ]:
#membuat trainData dan testData
trainData, testData = folding(exerciseData.copy(), 70, 'left', shuffle=True)

In [ ]:
#menampilkan data training
trainData

     glucose  bloodpressure  diabetes   id
0         55             70         1  241
1         45             78         0   43
2         40             70         1  395
3         50             80         1  246
4         40             65         1  475
..       ...            ...       ...  ...
691       40             92         0  856
692       40             70         1  273
693       45             58         1  289
694       50             83         0  689
695       45             87         0  946

[696 rows x 4 columns]

In [ ]:
#menampilkan data testing
testData

     glucose  bloodpressure  diabetes   id
0         35             77         1  380
1         50             65         1  976
2         40             87         0  868
3         40             65         1  278
4         40             95         0  152
..       ...            ...       ...  ...
294       45             85         0  758
295       60             67         1  749
296       50             65         1  844
297       45             78         0   28
298       45             85         0  778

[299 rows x 4 columns]

Split for each truth value

In [ ]:
#membagi 2 data diantaranya "yesData" & "noData"
yesData, noData = splitTruth(exerciseData, columnTarget='diabetes')

In [ ]:
#menampilkan yesData
yesData

     glucose  bloodpressure  diabetes     id
0       40.0           85.0       0.0    0.0
1       40.0           92.0       0.0    1.0
3       45.0           80.0       0.0    3.0
5       45.0           82.0       0.0    5.0
6       40.0           85.0       0.0    6.0
..       ...            ...       ...    ...
988     45.0           90.0       0.0  988.0
990     45.0           87.0       0.0  990.0
991     40.0           83.0       0.0  991.0
992     40.0           83.0       0.0  992.0
994     45.0           82.0       0.0  994.0

[497 rows x 4 columns]

In [ ]:
#menampilkan noData
noData

     glucose  bloodpressure  diabetes     id
2       45.0           63.0       1.0    2.0
4       40.0           73.0       1.0    4.0
7       30.0           63.0       1.0    7.0
8       65.0           65.0       1.0    8.0
10      35.0           73.0       1.0   10.0
..       ...            ...       ...    ...
983     45.0           65.0       1.0  983.0
984     50.0           73.0       1.0  984.0
985     40.0           73.0       1.0  985.0
989     45.0           68.0       1.0  989.0
993     40.0           60.0       1.0  993.0

[498 rows x 4 columns]

Find mean

In [ ]:
#mencari rata-rata
yesMean, noMean = find_mean(yesData, noData, columnTarget=['glucose','bloodpressure','diabetes'])

In [ ]:
#menampilkan rata-rata untuk yesData
print(f"Mean Result\n1 : {yesMean}")

Mean Result
1 : {'glucose': 44.094567404426556, 'bloodpressure': 86.738430583501, 'diabetes': 0.0}

In [ ]:
#menampilkan rata-rata untuk noData
print(f"Mean Result\n1 : {noMean}")

Mean Result
1 : {'glucose': 44.51807228915663, 'bloodpressure': 71.64658634538152, 'diabetes': 1.0}

Find standard deviation

In [ ]:
#mencari standar deviasi
yesStd, noStd = find_std(yesData, noData, columnTarget=['glucose','bloodpressure','diabetes'])

In [ ]:
#menampilkan standar deviasi untuk yesData
print(f"Standard Deviation Result\n1 : {yesStd}")

Standard Deviation Result
1 : {'glucose': 3.700630758134117, 'bloodpressure': 4.590047959869425, 'diabetes': 0.0}

In [ ]:
#menampilakn standar deviasi untuk noData
print(f"Standard Deviation Result\n1 : {noStd}")

Standard Deviation Result
1 : {'glucose': 8.730752022827117, 'bloodpressure': 6.281427895952207, 'diabetes': 0.0}

Do prediction

In [ ]:
#Lakukan Prediksi
result = []
target = testData 

result = doPrediction(yesMean, yesStd, noMean, noStd, target, columnTarget=['glucose','bloodpressure'], truthColumn='diabetes')

for p in result:
    print(p)

confussionMatrix(result)

{'ID': 380, 'Yes Probability': '4.816970898545933e-05', 'No Probability': '0.0011140604929522297', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 976, 'Yes Probability': '3.533629285842627e-08', 'No Probability': '0.0013613616789074532', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 868, 'Yes Probability': '0.005072042509699641', 'No Probability': '0.00012800827405989697', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 278, 'Yes Probability': '6.84475382495567e-08', 'No Probability': '0.00145021082410396', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 152, 'Yes Probability': '0.0010055855553718887', 'No Probability': '2.52964392514104e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 599, 'Yes Probability': '4.632217672698949e-06', 'No Probability': '0.0012241348671121468', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 690, 'Yes Probability': '0.007064590084247069', 'No Probability': '4.057071616070618e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 666, 'Yes Probability': '0.0020375589082778788', 'No Probability': '3.3363043329596115e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 144, 'Yes Probability': '0.0008928126411780136', 'No Probability': '0.0009841722569079842', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 176, 'Yes Probability': '8.946052142017146e-11', 'No Probability': '0.00023811406811753054', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 166, 'Yes Probability': '0.000345588503795063', 'No Probability': '0.002512810310174281', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 458, 'Yes Probability': '0.0025255007032834943', 'No Probability': '8.040489049451351e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 819, 'Yes Probability': '4.4124595482626065e-08', 'No Probability': '0.001218453298172593', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 904, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 222, 'Yes Probability': '8.806366742175804e-11', 'No Probability': '0.00045821976191336096', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 400, 'Yes Probability': '0.0013596252110605442', 'No Probability': '1.2508954057259347e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 325, 'Yes Probability': '1.7584662935591046e-10', 'No Probability': '0.0002330191219086199', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 277, 'Yes Probability': '0.002981772023304406', 'No Probability': '0.0006525643750677059', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 702, 'Yes Probability': '0.0020035051242717123', 'No Probability': '7.854993698882652e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 51, 'Yes Probability': '0.0035861661247391244', 'No Probability': '8.966753575836108e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 827, 'Yes Probability': '0.005072042509699641', 'No Probability': '0.00012800827405989697', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 110, 'Yes Probability': '3.8275563385561636e-08', 'No Probability': '0.0007270824685514232', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 216, 'Yes Probability': '0.0035861661247391244', 'No Probability': '8.966753575836108e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 363, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 202, 'Yes Probability': '4.632217672698949e-06', 'No Probability': '0.0012241348671121468', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 151, 'Yes Probability': '0.005337211116720315', 'No Probability': '0.0007449253516821978', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 566, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 821, 'Yes Probability': '0.0002684217782541465', 'No Probability': '0.0004118106360557221', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 147, 'Yes Probability': '0.0013596252110605442', 'No Probability': '1.2508954057259347e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 465, 'Yes Probability': '3.396795317084415e-06', 'No Probability': '0.0023023967231502675', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 25, 'Yes Probability': '8.806366742175804e-11', 'No Probability': '0.00045821976191336096', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 136, 'Yes Probability': '1.2297509803534553e-11', 'No Probability': '0.00034416782553253907', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 774, 'Yes Probability': '0.0003282360375441755', 'No Probability': '0.00031277672198150986', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 167, 'Yes Probability': '1.3823688737873374e-06', 'No Probability': '0.0013792314378281553', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 205, 'Yes Probability': '0.0017294068636899294', 'No Probability': '0.0010484041690494862', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 187, 'Yes Probability': '0.005337211116720315', 'No Probability': '0.0007449253516821978', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 503, 'Yes Probability': '0.00010313219812632072', 'No Probability': '0.002831180673145207', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 500, 'Yes Probability': '0.008464078542003182', 'No Probability': '0.000302484033707618', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 846, 'Yes Probability': '0.0035861661247391244', 'No Probability': '8.966753575836108e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 873, 'Yes Probability': '6.622578902101479e-14', 'No Probability': '5.497389834851255e-05', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 39, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 956, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 613, 'Yes Probability': '0.00010313219812632072', 'No Probability': '0.002831180673145207', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 328, 'Yes Probability': '2.194655947207209e-10', 'No Probability': '0.0005089969063600573', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 816, 'Yes Probability': '2.9307361439644853e-08', 'No Probability': '0.001192710310498365', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 616, 'Yes Probability': '0.0035861661247391244', 'No Probability': '8.966753575836108e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 928, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 600, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 346, 'Yes Probability': '0.002441197355820862', 'No Probability': '0.00024874561945427133', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 42, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 112, 'Yes Probability': '0.0020035051242717123', 'No Probability': '7.854993698882652e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 90, 'Yes Probability': '0.0025255007032834943', 'No Probability': '8.040489049451351e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 192, 'Yes Probability': '0.008464078542003182', 'No Probability': '0.000302484033707618', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 896, 'Yes Probability': '0.0008295952877778237', 'No Probability': '0.001521970591513871', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 179, 'Yes Probability': '0.003946817281281903', 'No Probability': '3.554047929456876e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 791, 'Yes Probability': '0.0020375589082778788', 'No Probability': '3.3363043329596115e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 145, 'Yes Probability': '0.0026336378581641867', 'No Probability': '1.3325349797281805e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 204, 'Yes Probability': '1.0996397121445755e-07', 'No Probability': '0.0013534749281095433', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 489, 'Yes Probability': '2.194655947207209e-10', 'No Probability': '0.0005089969063600573', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 672, 'Yes Probability': '1.73805155359609e-05', 'No Probability': '0.0013891351794961023', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 906, 'Yes Probability': '1.4203126096364895e-12', 'No Probability': '0.0002335817263083815', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 609, 'Yes Probability': '0.0026336378581641867', 'No Probability': '1.3325349797281805e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 301, 'Yes Probability': '2.974524020737433e-05', 'No Probability': '0.0023282015308258865', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 782, 'Yes Probability': '1.0832686218302992e-06', 'No Probability': '0.0004366347022510369', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 473, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 280, 'Yes Probability': '2.9312422036237727e-05', 'No Probability': '0.0025343797207038115', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 554, 'Yes Probability': '4.0811988058107055e-09', 'No Probability': '0.0009239364853389396', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 373, 'Yes Probability': '0.0004282816123496955', 'No Probability': '0.001428724986238665', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 872, 'Yes Probability': '0.004891976265870748', 'No Probability': '8.565250830302234e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 884, 'Yes Probability': '0.008464078542003182', 'No Probability': '0.000302484033707618', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 106, 'Yes Probability': '0.000345588503795063', 'No Probability': '0.002512810310174281', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 622, 'Yes Probability': '0.0025255007032834943', 'No Probability': '8.040489049451351e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 786, 'Yes Probability': '4.495181262219976e-13', 'No Probability': '0.0001852519189929695', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 847, 'Yes Probability': '0.0025255007032834943', 'No Probability': '8.040489049451351e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 804, 'Yes Probability': '0.006526538345298881', 'No Probability': '0.0005657826418756087', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 692, 'Yes Probability': '0.002981772023304406', 'No Probability': '0.0006525643750677059', 'Prediction Result': 1, 'Ground Truth': 1}
{'ID': 409, 'Yes Probability': '0.003646220661211934', 'No Probability': '0.0004956330124702555', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 285, 'Yes Probability': '6.306236507468455e-07', 'No Probability': '0.0020133459074183997', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 836, 'Yes Probability': '0.004728677964514322', 'No Probability': '0.00026497997950884864', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 575, 'Yes Probability': '0.0020375589082778788', 'No Probability': '3.3363043329596115e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 862, 'Yes Probability': '3.533629285842627e-08', 'No Probability': '0.0013613616789074532', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 291, 'Yes Probability': '8.773590692320097e-07', 'No Probability': '0.002204063402400169', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 158, 'Yes Probability': '5.761748904995862e-05', 'No Probability': '0.0024801513903408763', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 70, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 217, 'Yes Probability': '0.0020035051242717123', 'No Probability': '7.854993698882652e-06', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 175, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 219, 'Yes Probability': '0.0005350947734485427', 'No Probability': '0.0017653652570367858', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 973, 'Yes Probability': '1.4203126096364895e-12', 'No Probability': '0.0002335817263083815', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 318, 'Yes Probability': '0.006526538345298881', 'No Probability': '0.0005657826418756087', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 746, 'Yes Probability': '0.004714069735764768', 'No Probability': '1.5211358853290991e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 775, 'Yes Probability': '0.006526538345298881', 'No Probability': '0.0005657826418756087', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 467, 'Yes Probability': '0.0026336378581641867', 'No Probability': '1.3325349797281805e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 347, 'Yes Probability': '2.2523256255795075e-10', 'No Probability': '0.0004926038343419689', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 455, 'Yes Probability': '0.004714069735764768', 'No Probability': '1.5211358853290991e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 10, 'Yes Probability': '5.186777777930013e-06', 'No Probability': '0.0015651371122807475', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 920, 'Yes Probability': '6.579702016947945e-06', 'No Probability': '0.0024526624342574815', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 598, 'Yes Probability': '0.001484930825596712', 'No Probability': '0.0017373833470694777', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 595, 'Yes Probability': '9.96741390666408e-05', 'No Probability': '0.0020663919001409404', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 586, 'Yes Probability': '0.006526538345298881', 'No Probability': '0.0005657826418756087', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 718, 'Yes Probability': '6.579702016947945e-06', 'No Probability': '0.0024526624342574815', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 840, 'Yes Probability': '4.901594989999137e-07', 'No Probability': '0.0019307884387998072', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 392, 'Yes Probability': '0.001484930825596712', 'No Probability': '0.0017373833470694777', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 116, 'Yes Probability': '2.9312422036237727e-05', 'No Probability': '0.0025343797207038115', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 860, 'Yes Probability': '7.468090807620089e-05', 'No Probability': '0.0009604626015393529', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 344, 'Yes Probability': '0.0025255007032834943', 'No Probability': '8.040489049451351e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 943, 'Yes Probability': '1.73805155359609e-05', 'No Probability': '0.0013891351794961023', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 11, 'Yes Probability': '0.007064590084247069', 'No Probability': '4.057071616070618e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 417, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 299, 'Yes Probability': '0.00027624464086133035', 'No Probability': '0.00165720774542516', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 955, 'Yes Probability': '1.1159402374339568e-16', 'No Probability': '7.642861621874676e-06', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 810, 'Yes Probability': '0.005337211116720315', 'No Probability': '0.0007449253516821978', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 488, 'Yes Probability': '0.008464078542003182', 'No Probability': '0.000302484033707618', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 602, 'Yes Probability': '7.523574310994233e-08', 'No Probability': '0.0007115250254486369', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 556, 'Yes Probability': '1.0832686218302992e-06', 'No Probability': '0.0004366347022510369', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 348, 'Yes Probability': '0.00019307202013492066', 'No Probability': '0.002201254778105782', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 756, 'Yes Probability': '1.1759992422112726e-08', 'No Probability': '0.0010737264366034644', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 370, 'Yes Probability': '0.008756373694861716', 'No Probability': '9.7775372526996e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 320, 'Yes Probability': '0.006526538345298881', 'No Probability': '0.0005657826418756087', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 164, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 790, 'Yes Probability': '6.84475382495567e-08', 'No Probability': '0.00145021082410396', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 924, 'Yes Probability': '0.0015393507516426876', 'No Probability': '0.0006125841280947996', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 947, 'Yes Probability': '8.773590692320097e-07', 'No Probability': '0.002204063402400169', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 615, 'Yes Probability': '2.1864877485791314e-06', 'No Probability': '0.002448304386870217', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 757, 'Yes Probability': '4.901594989999137e-07', 'No Probability': '0.0019307884387998072', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 398, 'Yes Probability': '0.002981772023304406', 'No Probability': '0.0006525643750677059', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 703, 'Yes Probability': '3.396795317084415e-06', 'No Probability': '0.0023023967231502675', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 368, 'Yes Probability': '0.004714069735764768', 'No Probability': '1.5211358853290991e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 623, 'Yes Probability': '5.246765464531763e-05', 'No Probability': '0.0028930842333304485', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 708, 'Yes Probability': '0.002441197355820862', 'No Probability': '0.00024874561945427133', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 98, 'Yes Probability': '6.161708470825323e-09', 'No Probability': '0.0009151775130647942', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 604, 'Yes Probability': '2.974524020737433e-05', 'No Probability': '0.0023282015308258865', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 608, 'Yes Probability': '0.00010313219812632072', 'No Probability': '0.002831180673145207', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 628, 'Yes Probability': '0.009078682560461909', 'No Probability': '0.00014612597962064097', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 36, 'Yes Probability': '0.007064590084247069', 'No Probability': '4.057071616070618e-05', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 879, 'Yes Probability': '0.005337211116720315', 'No Probability': '0.0007449253516821978', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 381, 'Yes Probability': '5.761748904995862e-05', 'No Probability': '0.0024801513903408763', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 966, 'Yes Probability': '1.0996397121445755e-07', 'No Probability': '0.0013534749281095433', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 81, 'Yes Probability': '0.0015393507516426876', 'No Probability': '0.0006125841280947996', 'Prediction Result': 1, 'Ground Truth': 0}
{'ID': 474, 'Yes Probability': '5.761748904995862e-05', 'No Probability': '0.0024801513903408763', 'Prediction Result': 0, 'Ground Truth': 1}
{'ID': 741, 'Yes Probability': '0.00027624464086133035', 'No Probability': '0.00165720774542516', 'Prediction Result': 0, 'Ground Truth': 0}
{'ID': 952, 'Yes Probability': '0.00010313219812632072', 'No Probability': '0.002831180673145207', 'Prediction Result': 0, 'Ground Truth': 1}